<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
	<springProfile name="local, staging">
		<logger name="br.com.passeio_pago" level="DEBUG"
			additivity="false">
			<appender-ref ref="CONSOLE" />
		</logger>
	</springProfile>
	<springProfile name="production">
		<logger name="br.com.passeio-pago" level="ERROR"
			additivity="false">
			<appender-ref ref="CONSOLE" />
		</logger>
	</springProfile>
</configuration>